body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../includes/marvel_logo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    object-fit: cover;
}

main {
    margin: auto;
    display: flex;
    width: 90%;
    height: fit-content;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Avengeance Mightiest Avenger";
    font-size: 96px;
    color: white;
    -webkit-text-stroke: 1.5px black;
    align-self: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: "Avengeance Mightiest Avenger";
    font-size: 64px;
    color: white;
    -webkit-text-stroke: 1.5px black;
    margin: 0 auto 50px auto;
}

.heroes {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-self: center;
    width: 100%;
    gap: 50px;
}

.hero {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: top;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    min-width: 300px; /* Минимальная ширина блока */
    max-width: 300px;
    flex: 1 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: background-color 0.3s ease, filter 0.3s ease;
}

.hero:hover::before {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    filter: brightness(0.4);
}

.hero:hover .star, .hero:hover .char-name, .hero:hover .char-name p {
    visibility: visible;
}

.hero-image {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 0;
    object-position: top;
}

button {
    outline: none;
    border: 0;
    background: transparent;
}

.star {
    visibility: hidden;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    right: 12px;
    z-index: 2;
    position: absolute;
    transition: background-color 0.3s ease;
    background: none;
}

.star:hover {
    cursor: pointer;
    background-color: rgba(175, 175, 175, 0.15);
    border-radius: 8px;
}

.star:active {
    filter: brightness(0.8);
}

.star-filled {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    right: 12px;
    z-index: 2;
    position: absolute;
    transition: background-color 0.3s ease;
    background: none;
}

.star-filled:hover {
    cursor: pointer;
    background-color: rgba(175, 175, 175, 0.15);
    border-radius: 8px;
}

.star-filled:active {
    filter: brightness(0.8);
}

.char-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    visibility: hidden;
}

.char-name p {
    font-family: "Avengeance Mightiest Avenger";
    font-size: 24px;
    color: white;
    margin: 0;
    visibility: hidden;
    z-index: 2;
    text-align: center;
    vertical-align: center;
}

.hero-last {
    margin: 0 0;
    border-radius: 20px;
}