main {
    display: flex;
    justify-content: center;
    padding: 55px 30px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}

#char-content {
    height: 100%;
    display: flex;
    justify-content: center;
}