@font-face {
    font-family: "AA Stetica Medium";
    src: url('../includes/fonts/stetica/AA Stetica Medium.otf')
}

@font-face {
    font-family: "AA Stetica Regular";
    src: url('../includes/fonts/stetica/AA Stetica Regular.otf')
}

@font-face {
    font-family: "Gagalin";
    src: url('../includes/fonts/Gagalin-Regular.otf')
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 90%;
    margin: 30px auto;
    padding: 0 40px;
    height: fit-content;
    z-index: 10;
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
}

#userblock {
    display: inline-block;
    align-self: center;
    align-items: center;
    justify-content: center;
}

#userblock:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

#userblock:active {
    filter: brightness(0.8);
}

.avatar {
    display: inline-block;
    margin-right: 10px;
}

.username {
    display: inline-block;
    font-family: "Gagalin", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

#search img {
    display: inline-block;
    margin-right: 10px;
}

#logo {
    margin-top: 10px;
    display: inline-block;
    align-self: center;
}

#logo:hover, #search:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

#logo:active, #search:active {
    filter: brightness(0.8);
}

#DANGER {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

#UPDATER {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}