h1 {
    display: flex;
    justify-content: center;
    font-family: "Avengeance Mightiest Avenger";
    font-size: 96px;
    color: white;
    -webkit-text-stroke: 1.5px black;
    align-self: center;
}

body {
    display: flex;
    flex-direction: column; /* Вертикальное размещение header и main */
    align-items: center; /* Центрирование по горизонтали */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../includes/marvel_logo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    object-fit: cover;
}

.avatar {
    display: inline-block;
    margin-right: 10px;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 90%;
    margin: 30px 0; /* Отступы сверху и снизу */
    padding: 0 40px;
    height: fit-content;
    z-index: 1; /* Поверх остальных элементов */
    position: sticky; /* Фиксированное положение при прокрутке */
    top: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#userblock {
    display: inline-block;
    align-self: center;
    margin-top: 10px;
}

.username {
    display: inline-block;
    font-family: "Avengeance Mightiest Avenger";
    font-size: 32px;
    color: white;
    -webkit-text-stroke: 1px black;
}

#logo {
    display: inline-block;
    align-self: center;
    margin-top: 10px;
    margin-right: 30px;
}

#search {
    display: inline-block;
    align-self: center;
    margin-top: 10px;
}

main {
    margin-top: 20px; /* Обеспечивает отступ между header и main */
    display: flex;
    width: 90%;
    height: fit-content;
    flex-direction: column; /* Стандартное вертикальное выравнивание контента */
}

.heroes {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin-bottom: 50px;
}

.hero {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 129, 24, 1);
    border-radius: 20px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    align-self: center;
    margin: 40px auto;
}

.page-button {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #1810AC;
    vertical-align: middle;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}