body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/marvel_logo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    min-height: 100dvh;
}

#root {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    object-fit: cover;
}

main {
    margin: 0 auto;
    display: flex;
    width: 90%;
    height: fit-content;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Gagalin", sans-serif;
    font-size: 96px;
    color: white;
    font-weight: 400;
    -webkit-text-stroke: 0.4px black;
    align-self: center;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: "Gagalin", sans-serif;
    font-size: 64px;
    font-weight: 400;
    color: white;
    -webkit-text-stroke: 0.3px black;
    margin: 0 auto 0 auto;
    text-align: center;
}

#sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

#sort:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

#sort img {
    margin-left: 16px;
}

button {
    outline: none;
    border: 0;
    background: transparent;
}